<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>FurrySpa</h3>
                <p>Más caricias, menos estrés</p>
            </div>
            <div class="footer-section">
                <h3>Contacto</h3>
                <!-- <p>info@furryspa.com</p> -->
                <p>+51 982 738 210</p>
            </div>
            <div class="footer-section">
                <h3>Horario</h3>
                <p>Lunes a Viernes: 9am - 6pm</p>
                <p>Sábados: 10am - 4pm</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 FurrySpa. Todos los derechos reservados.</p>
            <p>Desarrollado por Ghost_Found404</p>
        </div>
    </div>
</footer>