<header>
    <div class="container">
        <nav>
            <a href="index.html" class="logo">FurrySpa</a>
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="porque-elegirnos.html">¿Por qué elegirnos?</a></li>
                <li><a href="quienes-somos.html">¿Quiénes somos?</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contacto.html">Contáctanos</a></li>
            </ul>
        </nav>
    </div>
</header>