<header>
    <div class="container">
        <nav>
            <a href="index.html" class="logo">FurrySpa</a>
            <ul class="nav-links">
                <li><a href="index.html" class="nav-link">Inicio</a></li>
                <li><a href="#servicios" class="nav-link">Servicios</a></li>
                <li><a href="#por-que-elegirnos" class="nav-link">¿Por qué elegirnos?</a></li>
                <li><a href="#quienes-somos" class="nav-link">¿Quiénes somos?</a></li>
                <li><a href="contacto.html" class="nav-link">Contáctanos</a></li>
                <li><a href="faq.html" class="nav-link">FAQ</a></li>
            </ul>
        </nav>
    </div>
</header>